.site-navigation {
  margin-top: 2rem;
  padding: 0 1rem;

  a {
    color: #FFFFFF !important; /* White color for menu items */
  }

  &:hover,
  &:focus-within {
    a {
      opacity: .7;
    }
  }
}

.site-navigation ul {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.site-navigation li {
  list-style: none;
  font-size: .875em;
  font-variant: small-caps;
  margin: 0;

  &.active a {
    text-decoration: underline;
    color: #000000 !important; /* Red color for active menu item */
  }
}

.site-navigation a {
  display: block;
  padding: .25em .5em;
  text-decoration: none;
  color: #000000 !important; /* White color for all links */
  transition: opacity .125s ease-in-out, color .125s ease-in-out;

  &:hover,
  &:focus {
    opacity: 1;
    color: #FF0000 !important; /* Red color on hover */
  }
}