---
layout: default
---

<!-- Include Kufam font from Google Fonts -->
<link href="https://fonts.googleapis.com/css2?family=Kufam:wght@400;700&display=swap" rel="stylesheet">

<header class="site-masthead">
  {% include menu.html %}
  {% if site.title %}
    <h1 class="site-title">
      {{ site.title }}
    </h1>
  {% endif %}
  {% if site.description %}
    <h2 class="site-description">
      {{ site.description }}
    </h2>
  {% endif %}
</header>

<main class="home" id="main" role="main" aria-label="Content">
  <h1 class="content-title divided page-title">
    Articles
  </h1>

  {% if paginator %}
    <ul class="post-list">
      {% for post in paginator.posts %}
        {% include post-list-item.html %}
      {% endfor %}
    </ul>

    {% if paginator.total_pages > 1 %}
      <div class="post-pagination">
        {% if paginator.next_page %}
          <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="pagination-next btn">&lang;&nbsp;Older</a>
        {% else %}
          <span>&nbsp;</span>
        {% endif %}
        <span class="pagination-number">{{ paginator.page }} of {{ paginator.total_pages }}</span>
        {% if paginator.previous_page %}
          <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="pagination-previous btn">Newer&nbsp;&rang;</a>
        {% else %}
          <span>&nbsp;</span>
        {% endif %}
      </div>
    {% endif %}
  {% else %}
    <ul class="post-list">
      {% for post in site.posts %}
        {% include post-list-item.html %}
      {% endfor %}
    </ul>
  {% endif %}
</main>