---
layout: default
---

<header class="site-masthead">
  <div class="content-wrapper">
    {% include menu.html %}
    <h1 class="site-title">{{ site.title }}</h1>
    <h2 class="site-description">{{ site.description }}</h2>
  </div>
</header>

<main id="main-content" role="main" aria-label="Content">
  <div class="content-wrapper">
  <article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
    <h1 class="post-title divided p-name" itemprop="name headline">
      {{ page.title }}
    </h1>

    <div class="post-content e-content" itemprop="articleBody">
      {{ content }}
    </div>

    <div class="post-meta">
      <div itemprop="author">{{ page.author }}</div>
      <time class="post-date dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%B %-d, %Y" }}</time>
    </div>

    {% if site.disqus.shortname %}
      {% include disqus-comments.html %}
    {% endif %}
  </div>
  </article>
</main>